* {
    padding: 0;
    margin: 0;
}

body {
    /* background-image: url("https://w0.peakpx.com/wallpaper/698/290/HD-wallpaper-studio-ghibli-forest-plants-water.jpg");
    background-repeat: no-repeat;
    background-position: 100vh 100vw;
    background-size:contain;
    /* max-width: 100%;  */
    /*width: 100vw; */
    /* height: 100vh; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 10px; */
}

/* 
#myVideo{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background: url(harry-potter-hogwarts-wizardry-casle-free-wallpaper.webm);
    background-size: cover; 
  } */

.header {

    /* align-items: center; */
    background-image: url("https://preview.redd.it/pild3d67cyf51.jpg?width=5120&format=pjpg&auto=webp&s=a262626bae5700388b1033c4ecc5962e995c840e");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #bee0c5a9; */
    color: #164f0f;
    height: 50vh;
    text-align: center;
    text-shadow: 1px, 1px, 2px, #0f350a93;
    /* margin-bottom: 10px; */
    /* width: 100vh; */
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 20% 1fr 20%;
}

.h1Header {
    grid-column: 2 / span 1;
    grid-row: 2/ span 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 60px;
    color: #faebd7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.buttonHeader {
    /* padding: 10px; */
    grid-column: 3 / span 1;
    grid-row: 3/ span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: right;
    margin-top: 10px;
    display: inline-block;
}

.button {
    justify-items: right;
    margin-top: 10px;
    display: inline-block;
}

.main {
    /* background-color: #a8765418; */
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 15px;
    /* height: 60%; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
    background: #19c9ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #196dff45 0%, #1504cf63 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1952ff40 0%, #04cf3788 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #195aff6a 0%, #cf5c047f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
    /* IE6-9 */
}

.gifStudioGhibli {
    /* margin: 5%; */
    border-radius: 30px;
    padding: 2%;
    height: 20vw;
    width: 50%;
    /* background-color: #478b8f91; */
}

.linkImg {
    /* background-color: #7fffd41b; */
    color: #b80909;
    font-style: bold;
}

.itensContainer {
    /* background-color: #7adbea; */
    /* gap: 2vw; */
    /* margin: auto 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itens {

    /* align-items: center; */
    /* flex-direction: */
    /* word-wrap: break-word; */
    margin: 1vw;
    display: flex;
    background-color: #dff4ec80;
    box-shadow: 5px, 5px, 15px #ae0c9388;
    width: 43vw;
    height: 285px;
    border-radius: 20px;
    justify-items: center;
    padding: 10px;
    /* gap: 2vw; */
    border: 2px solid #390488;
}

.itens ul {
    /* margin: 10px; */
    /* flex-wrap: wrap; */
    /* font-size: 140%; */
    /* width: 50%; */
    /* height: 25vw; */
    padding: 2%;
    color: #090909;
    list-style: none;
    /* display: block;
    align-content: center; */
}

.itens img {
    height: 100%;
    width: 40%;
    border-radius: 20px;
}

.itens li {
    margin-top: 0 auto;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0e0234
}

.itens p {
    margin-top: 0 auto;
    color: #bc0b9ee5;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-image: url("https://preview.redd.it/9dmfs0g8cyf51.jpg?width=5120&format=pjpg&auto=webp&s=6ad6724ef04a37b967dcce5a686e978ab8045a3c");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-color: #db8c838e;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
    display: flex;
}

.textoFooter {
    /* background-color: rgba(255, 255, 0, 0.417); */
    color: #f6f1ee;
    font-weight: bolder;
    width: fit-content;
    padding: 5%;
    font-size: 25px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

a {
    color: #f6f1ee;
    font-weight: bold;
}

.linkGit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .itens {
        margin: 1vw;
        display: flex;
        width: 70vw;
        height: fit-content;
        justify-items: center;
        padding: 10px;
        flex-direction: column;
        gap: 3px;
    }

    .itens img {
        height: 40%;
        width: 100%;
        border-radius: 20px;
    }

    .itens ul {
        height: max-content;

    }

    .itens li {
        height: min-content;

    }

    .itens p {
        height: min-content;
    }

}

@media screen and (max-width: 900px) {

    .buttonHeader {
        grid-column: 2 / span 1;
    }

    .itens {
        margin: 1vw;
        display: flex;
        min-width: 40vw;
        height: 80vh;
        justify-items: center;
        padding: 10px;
        flex-direction: column;
        gap: 3px;
    }

    .itens img {
        height: 40%;
        width: 100%;
        border-radius: 20px;
    }

    .itens ul {
        height: max-content;
    }

    .itens li {
        height: min-content;

    }

    .itens p {
        height: min-content;
    }

}

@media screen and (max-width: 1199px) {

    .buttonHeader {
        grid-column: 2 / span 1;
    }

    .itens {
        margin: 1vw;
        display: flex;
        min-width: 40vw;
        height: 80vh;
        justify-items: center;
        padding: 10px;
        flex-direction: column;
        gap: 3px;
    }

    .itens img {
        height: 40%;
        width: 100%;
        border-radius: 20px;
    }

    .itens ul {
        height: max-content;
    }

    .itens li {
        height: min-content;

    }

    .itens p {
        height: min-content;
    }

}